# Architecture
binary "https://kawoou.kr/ReactorKit-Carthage/ReactorKit-Static"

# Rx
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxOptional"
github "RxSwiftCommunity/RxDataSources"
github "kawoou/RxValidator" "94750bdcd89b8d2f84682c949f6893b0d44a37e1"

# Database
binary "https://github.com/kawoou/DeliTodo/raw/realm/Realm"
#github "realm/realm-cocoa"

# Logging
github "SwiftyBeaver/SwiftyBeaver"

# Deeplink
github "button/DeepLinkKit"

# UI
github "SnapKit/SnapKit"
github "cruisediary/Gradients"
github "raulriera/TextFieldEffects"
github "SwipeCellKit/SwipeCellKit"
github "Daltron/NotificationBanner"

# Test
github "Quick/Quick"
github "Quick/Nimble"
